<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="partials/head.html :: head ('Main Page')" ></head>
<body>



<!----- Navbar ----->
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>

<main id="main-welcome-page">
    <!--- Hero --->
    <header class="header">
        <h1 class="container">Welcome bookworm!</h1>
        <h2 class="container">Search through all out books and lets start sharing.</h2>
    </header>
    <!-- Thriller Books Section -->
    <div id="firstBookList">
        <div class="container-lg container-fluid">
            <!--- Section Title ---->
            <div id="title-welcome">
                <h2 id="title-thriller">Thriller</h2>
            </div>
            <!--- Books Container ---->
            <div id="firstBookContainer">
                <section class="book-container" th:each="book:${ThrillerBooks}">
                    <!-- anchor -->
                    <a th:href="@{/single/{id}(id = ${book.getId()})}" th:title="${book.getTitle()}">
                        <!-- Book Cover -->
                        <img th:src="${book.getCover_page()}" th:alt="${book.getTitle()}" class="book-cover">
                        <p>
                            <!-- Book Title -->
                            <span class="book-title" th:text="${book.getTitle()}">Title of Book</span><br/>
                            <small>
                                <!-- Book Author -->
                                By <span th:text="${book.getAuthor()}"></span>
                            </small>
                        </p>
                    </a>
                </section>
                <section th:if="${#lists.isEmpty(ThrillerBooks)}" class="mx-auto mb-5">
                    <h5 class="text-center">No Thriller Books Available.</h5>
                </section>
            </div>
        </div>
    </div>
    <!-- Selection of All Genres -->
    <div id="genreList">
        <div class="container-lg container-fluid">
            <!-- Title -->
            <section id="genre-title">
                <h2>By Genre</h2>
            </section>
            <!--Genre list-->
            <section id="genres">
                <!--Each Genre-->
                <section th:each="genre:${AllGenres}">
                    <aside class="genre-card">
                        <h4 th:text="${genre}">Thriller</h4>
                    </aside>
                </section>
            </section>
        </div>
    </div>
    <!-- Fiction Book Section -->
    <div id="secondBookList">
        <div class="container-lg container-fluid">
            <!--- Section Title ---->
            <div id="title-fiction-welcome">
                <h2 id="title-fiction">Fiction</h2>
            </div>
            <!--- Books Container ---->
            <div id="secondBookContainer">
                <section class="book-container" th:each="book:${FictionBooks}">
                    <!-- anchor -->
                    <a th:href="@{/single/{id}(id = ${book.getId()})}" th:title="${book.getTitle()}">
                        <!-- Book Cover -->
                        <img th:src="${book.getCover_page()}" th:alt="${book.getTitle()}" class="book-cover">
                        <p>
                            <!-- Book Title -->
                            <span class="book-title" th:text="${book.getTitle()}">Title of Book</span><br/>
                            <small>
                                <!-- Book Author -->
                                By <span th:text="${book.getAuthor()}"></span>
                            </small>
                        </p>
                    </a>
                </section>
                <section th:if="${#lists.isEmpty(FictionBooks)}" class="mx-auto mb-5">
                    <h5 class="text-center">No Fiction Books Available.</h5>
                </section>
            </div>
        </div>
    </div>
</main>


<!----- Footer ----->
<footer th:replace="partials/footer.html :: Footer"></footer>
<!=== Javascript ===>
<script th:src="@{/js/searchForBookNavbar.js}"></script>
</body>
</html>