<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Notifications')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>


<main class="container-fluid">
    <div class="row">
        <!------- Left Side - User Information ------->
        <div id="left-side-user-info-container" class="col-12 col-sm-4 col-md-4">
            <!-- Not sure what this div is for? -->
            <div id="user-profile-info">
                <!-- image section -->
                <section class="user-profile-container" id="user-profile-container">
                    <!-- Image if there is no pathway -->
                    <img
                            class="user-profile-picture"
                            th:src="@{/img/noProfileImage.png}"
                            th:if="${user.profilePicturePath == null}"
                            alt="No Image Provided">
                    <!-- Profile Picture -->
                    <img
                            class="user-profile-picture"
                            th:src="${user.getProfilePicturePath()}"
                            th:if="${user.profilePicturePath != ''}"
                            th:alt="${user.getUsername()}">
                </section>
                <section class="user-information-container" id="user-information-container">

                    <!-- User Greeting -->
                    <h2>
                        Hello <span th:text="${user.getUsername()}">USERNAME</span>,
                    </h2>
                    <!-- User Bio -->
                    <p
                            class="user-bio"
                            th:unless="${user.getBio() == ''}"
                            th:text="${user.getBio() != null ? user.getBio() : 'No Bio yet'}">
                        Fake Bio
                    </p>
                    <!-- Favorite Genre -->
                    <div th:if="${user.getFavoriteGenres().size() > 0}">
                        <p class="fav-genre-profile">Favorite Genre:</p>
                        <aside id="userFavoriteGenreContainer">
                            <section class="favoriteGenreDeleteForm" th:each="favGenre : ${user.getFavoriteGenres()}" >
                                <p th:text="${favGenre.genre.name}"></p>
                            </section>
                        </aside>
                    </div>

                </section>
            </div>
        </div>

        <!===== Right Side =====>
        <div id="right-side-user-reviews-container" class="col-12 col-sm-8 col-md-8">

            <!-- Latest News-->
            <div>
                <!-- Title -->
                <div class="section-title">
                    <h2>Pending Friends</h2>
                </div>
                <!--  -->
                <div class="mainNotificationSection">
                    <!-- Each Notification -->
                    <div class="body-notification bg-light" th:each="newFriend:${allFriends}" th:if="${newFriend.getStatus() == 'pending'}">
                        <!-- Profile Image -->
                        <img th:src="${newFriend.getFriend_id().getProfilePicturePath()}" th:alt="${newFriend.getFriend_id().getUsername()}" class="friend-profile-picture">
                        <!-- The User that tried adding you -->
                        <h4 th:text="${newFriend.getFriend_id().getUsername()}"></h4>
                        <div class="form-containers">
                            <!-- Form When Yes to be friend -->
                            <form th:action="@{/notification/newFriend/{id} (id=${newFriend.getFriendshipId()})}" class="addNewFriendForm" method="post">
                                <button type="submit" class="addNewFriendButton">Friend</button>
                            </form>
                            <!-- Form When No to be friend -->
                            <form th:action="@{/notification/unfriend/{id} (id=${newFriend.getFriendshipId()})}" class="unfriendForm" method="post">
                                <button type="submit" class="unfriendButton">Unfriend</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
<script th:src="@{/js/searchForBookNavbar.js}"></script>
</body>
</html>