<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!----- Head in Thymeleaf - Fragments ----->
<head th:replace="partials/head.html :: head ('Notifications')" ></head>
<body>

<!------ Navbar ------>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>


<main id="main-notifications">
    <!---------- Left Side ------------>
    <div id="leftSide-notifications">
        <!---------- User Profile Image Container ------------>
        <section id="user-photoImage">
            <!-- Image if there is no pathway -->
            <img
                    class="user-profile-picture"
                    th:src="@{/img/noProfileImage.png}"
                    th:if="${user.profilePicturePath == null}"
                    alt="No Image Provided">
            <!-- Profile Picture -->
            <img
                    class="user-profile-picture"
                    th:src="${user.getProfilePicturePath()}"
                    th:if="${user.profilePicturePath != ''}"
                    th:alt="${user.getUsername()}">
        </section>
        <!---------- User Information Container ------------>
        <section id="user-information">
            <!-- User Greeting -->
            <h2>
                Notifications for <span th:text="${user.getUsername()}">USERNAME</span>
            </h2>
        </section>
    </div>
    <!---------- Right Side ------------>
    <div id="rightSide-notifications">
        <!---------- Pending Friends Section ------------>
        <div id="notificationContainer">
            <div class="container-lg container-fluid">
                <!--- Section Title ---->
                <div id="title-notification-section">
                    <h2 id="title-notification">Notifications</h2>
                </div>
                <!-- Section Body -->
                <div id="body-notification-section">
                    <!-- Each Notification : Only showing pending status-->
                    <div class="eachNotification" th:each="newFriend:${allFriends}" th:if="${newFriend.getStatus() == 'pending'}">
                        <a th:href="@{/in/{id} (id=${newFriend.getFriend().getId()})}" class="anchor-new-friend">
                            <!-- Profile Image -->
                            <img th:src="${newFriend.getFriend().getProfilePicturePath()}" th:alt="${newFriend.getFriend().getUsername()}" class="friend-profile-picture">
                            <!-- The User that tried adding you -->
                            <h4 class="friend-username" th:text="${newFriend.getFriend().getUsername()}"></h4>
                        </a>
                        <div class="form-containers">
                            <!-- Form When Yes to be friend -->
                            <form th:action="@{/notification/newFriend/{id} (id=${newFriend.getFriendshipId()})}" class="addNewFriendForm" method="post">
                                <button type="submit" class="addNewFriendButton">Friend</button>
                            </form>
                            <!-- Form When No to be friend -->
                            <form th:action="@{/notification/unfriend/{id} (id=${newFriend.getFriendshipId()})}" class="unfriendForm" method="post">
                                <button type="submit" class="unfriendButton">Unfriend</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>





<!------ Footer ----->
<footer id="footer" class="container-fluid footer-fixed-notifications">
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Fake Copyright <strong><span>Bookworm V.2</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Production by <a href="https://www.linkedin.com/in/heygilly/">HeyGilly</a>
        </div>
    </div>
</footer>

<!----- Navbar ----->
<script th:src="@{/js/searchForBookNavbar.js}"></script>
</body>
</html>