<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Single Book')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>


<div class="main-single-book-container">
    <!=== Left Side Book Information===>
    <div id="left-side-book-container" class="">
        <!=== Book Image===>
        <img class="single-book-cover"
             th:src="${singleBookInfo.getCover_page()}"
             th:alt="${singleBookInfo.getTitle()}"
             th:if="${singleBookInfo.getCover_page() != ''}"
        />
        <img class="single-book-cover-noIMG"
             th:src="@{/img/noImage.jpeg}"
             th:alt="${singleBookInfo.getTitle()}"
             th:if="${singleBookInfo.getCover_page() == ''}"
        />

        <!=== Liked Book Button Form===>
        <form th:if="${faved == 'NotFaved'}" th:action="@{/favoriteBook/{userId}/{bookId}(userId=${user.id},bookId=${singleBookInfo.id})}" th:object="${favBookObject}" method="post">
            <input type="hidden" th:field="*{userId}" th:value="${user.id}">
            <input type="hidden" th:field="*{bookId}" th:value="${singleBookInfo.id}">
            <button type="submit" class="liked-book-btn">
                <img th:src="@{/img/heart.png}" alt="Favorite Book" class="liked-book-image">
                <span>Favorite Book</span>
            </button>
        </form>
        <form th:if="${faved == 'AlreadyFaved'}" th:action="@{/unFavoriteBook/{userId}/{bookId}(userId=${user.id},bookId=${singleBookInfo.id})}" th:object="${favBookObject}" method="post">
            <input type="hidden" th:field="*{userId}" th:value="${user.id}">
            <input type="hidden" th:field="*{bookId}" th:value="${singleBookInfo.id}">
            <button type="submit" class="unliked-book-btn">
                <span>unFavorite Book</span>
            </button>
        </form>

        <!=== Write a Review Button ==>
        <a href="" class="write-review-button" id="write-review-button">
            <span>Write Review</span>
        </a>
        <!=== Purchase Button===>
        <a th:href="${singleBookInfo.getGoogle_play()}" class="purchase-book-btn">Purchase Ebook</a>
    </div>
    <!=== Right Side - Book Information, Other Books in Genre, Reviews===>
    <div id="right-side-book-info-container" class="">
        <!=== Book Information ===>
        <div id="single-book-info-container" class="">
            <h2 th:text="${singleBookInfo.getTitle()}" id="single-book-title">title of Book</h2>
            <p th:text="${singleBookInfo.getAuthor()}" class="single-book-author">Author</p>
            <section th:switch="${singleBookInfo.getRating()}" class="">
                <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
                <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
                <img th:case="'2'" th:src="@{/img/ratings/twoStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
                <img th:case="'3'" th:src="@{/img/ratings/threeStars.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
                <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
                <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            </section>
            <p th:text="${singleBookInfo.getDescription()}" class="single-book-description">description</p>
            <p th:text="${singleBookInfo.getGenre()}" class="single-book-genre">Genre</p>
            <p class="single-book-page-count"><span th:text="${singleBookInfo.getPage_count()}"></span> pages</p>
            <p class="single-book-page-date pb-2">First published <span th:text="${singleBookInfo.getDate_published()}"></span></p>
            <p class="single-book-page-ISBN">ISBN: <span th:text="${singleBookInfo.getIsbn()}"></span>ISBN</p>
        </div>

        <!--- Same Genre Books Container ---->
        <div>
            <div>
                <!-- Same Genre Book Title -->
                <div class="section-title pt-5">
                    <h2>Same Genre Books</h2>
                </div>

                <!-- This is going to be the container for the scroll -->
                <div id="WholeSameGenreBookContainer">
                    <section class="favorite-book-container" th:each="favBook:${bookGenre}" th:if="${favBook != singleBookInfo}">
                        <a th:href="@{/single/{id}(id = ${favBook.getId()})}">
                            <img th:src="${favBook.getCover_page()}" th:alt="${favBook.getTitle()}" class="same-genre-book-cover">
                            <p>
                                <span class="book-title" th:text="${favBook.getTitle()}">Title of Book</span><br/>
                                <small>By </small>
                                <small th:text="${favBook.getAuthor()}">Author</small>
                            </p>
                        </a>
                    </section>
                    <section th:if="${#lists.isEmpty(bookGenre)}" class="mx-auto mb-5">
                        <h5 class="text-center">No Favorite Book currently saved.</h5>
                    </section>
                </div>

            </div>
        </div>



        <!=== Book Reviews ===>
        <div class="services section-bg py-5">
            <!==== Title ====>
            <div class="section-title p-0 m-0">
                <h2>Reviews</h2>
            </div>
            <!=== Write A Review Form ==>
            <div id="writeAReviewContainer">
                <h3>Write a review</h3>
                <form th:action="@{/single/{id} (id=${singleBookInfo.getId()})}"
                      th:object="${Reviews}"
                      method="post"
                      id="writing-review-form">
                    <input th:value="${singleBookInfo.getId()}" type="hidden" th:field="*{bookshelf}">
                    <input th:value="${11}" type="hidden" th:field="*{user}">
                    <div class="mb-3">
                        <label for="writeReviewTitle" class="form-label">Subject:</label>
                        <input type="text"
                               class="form-control"
                               id="writeReviewTitle"
                               th:field="*{title}"
                               th:value="${title}"
                               maxlength="75"
                               minlength="5"
                                title="Min 5, Max 75 Characters">
                    </div>
                    <div class="mb-3">
                        <label for="reviewRate" class="form-label">Rating: <span id="rateValue"></span></label>
                        <input type="range"
                               class="form-range"
                               th:field="*{rating}"
                               th:value="${rating}"
                               min="1" max="5"
                               step="1"
                               id="reviewRate">
                    </div>
                    <div class="mb-3">
                        <label for="leaveAReview" class="form-label">What did you think?</label>
                        <textarea class="form-control"
                                  id="leaveAReview"
                                  rows="5"
                                  style="resize: none;"
                                  th:field="*{body}"
                                  th:value="${body}"
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" id="write-review-cancel-button" >Cancel</button>
                </form>
            </div>
            <div class="container-fluid whole-review-container">
                <div class="review-container" th:each="review:${bookReview}">
                    <!===== Book Review Username and Profile IMG =====>
                    <section class="">
                        <a th:href="@{/in/{userId}(userId = ${review.user.id})}" >
                            <img class="review-user-profile-img" th:src="${review.user.getProfilePicturePath()}" th:if="${review.user.getProfilePicturePath() != ''}" th:alt="${review.user.username}" />
                            <img class="review-user-profile-img" th:src="@{/img/noProfileImage.png}" th:if="${review.user.profilePicturePath == ''}" alt="No Image Provided" />
                            <h5 th:text="${review.user.username}">Username</h5>
                        </a>
                    </section>
                    <!===== Book Review Title Rating & Body =====>
                    <section class="">
                        <h5 th:text="${review.title}">Review Title</h5>
                        <span th:switch="${review.rating}" class="">
                            <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                            <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                            <img th:case="'2'" th:src="@{/img/ratings/twoStars.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                            <img th:case="'3'" th:src="@{/img/ratings/threeStars.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                            <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                            <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${singleBookInfo.getRating()}" class="review-book-rating">
                        </span>
                        <p th:text="${review.body}">Review Body</p>
                    </section>
                </div>
                <section th:unless="${bookReview != null and not #lists.isEmpty(bookReview)}" class="mx-auto mb-5">
                    <h5 class="text-center">No Recent Reviews</h5>
                </section>
            </div>
        </div>



    </div>
</div>


<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
<!--<script th:src="@{/js/searchForBookNavbar.js}"></script>-->
<script th:src="@{/js/searchForBookNavbar.js}"></script>

<script>
    let reviewContainer = document.getElementById("writeAReviewContainer");
    let writeReviewButton = document.getElementById("write-review-button");
    let writeReviewCancelButton = document.getElementById("write-review-cancel-button");
    let reviewForm = document.getElementById("writing-review-form");

    document.addEventListener("DOMContentLoaded", ()=>{
        reviewContainer.style.display="none";
        reviewForm.reset();
    })

    writeReviewCancelButton.addEventListener("click",(e) =>{
        e.preventDefault();
        reviewContainer.style.display="none";
        reviewForm.reset();
    })

    writeReviewButton.addEventListener("click", (e) => {
        e.preventDefault();
        reviewContainer.style.display="block";
    })

    //-- Showcase of the value for the rating.
    const rangeInput = document.getElementById('reviewRate');
    const valueDisplay = document.getElementById('rateValue');
    // Set initial value
    valueDisplay.textContent = rangeInput.value;
    // Update value on input change
    rangeInput.addEventListener('input', function() {
        valueDisplay.textContent = this.value;
    });

</script>

</body>
</html>