<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Single Book')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>


<main class="container-fluid container-lg mx-auto d-flex row py-5 p-0 m-0">
    <!=== Book image Section ===>
    <section class="col-12 col-md-5 col-lg-4 mx-auto d-flex flex-column">
        <img th:src="${singleBookInfo.getCover_page()}" th:alt="${singleBookInfo.getTitle()}" id="single-book-cover">
        <a th:href="${singleBookInfo.getGoogle_play()}" class="btn btn-success mt-3">Purchase Ebook</a>
    </section>
    <!=== Book Information Section ===>
    <section class="col col-md-7 col-lg-8 px-3 px-md-5   mx-auto single-book-information-container">
        <p th:text="${singleBookInfo.getTitle()}" id="single-book-title">title of Book</p>
        <p th:text="${singleBookInfo.getAuthor()}" class="single-book-author">Author</p>
        <section th:switch="${singleBookInfo.getRating()}" class="py-3">
            <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            <img th:case="'2'" th:src="@{/img/ratings/twoStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            <img th:case="'3'" th:src="@{/img/ratings/threeStar.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
            <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${singleBookInfo.getRating()}" class="single-book-rating">
        </section>
        <p th:text="${singleBookInfo.getDescription()}" class="single-book-description">description</p>
        <p th:text="${singleBookInfo.getGenre()}" class="single-book-genre mt-4">Genre</p>
        <p class="single-book-page-count pt-4 pb-2"><span th:text="${singleBookInfo.getPage_count()}"></span> pages</p>
        <p class="single-book-page-date pb-2">First published <span th:text="${singleBookInfo.getDate_published()}"></span></p>
        <p class="single-book-page-ISBN">ISBN: <span th:text="${singleBookInfo.getIsbn()}"></span>ISBN</p>
    </section>
</main>

<!=== Similar Books ===>
<div class="services section-bg pt-5">
    <div class="container">
        <!==== Title ====>
        <div class="section-title p-0 m-0">
            <h2>Same Genre Books</h2>
        </div>
        <div class="position-relative p-0 m-0">
            <!===== Arrow Section =====>
            <section class="left-arrow"><i class="fa-solid fa-angle-left"></i></section>
            <section class="right-arrow"><i class="fa-solid fa-angle-right"></i></section>
            <!===== Book Section =====>
            <section class="d-flex overflow-scroll container position-relative" >
                <section class="mx-3 single-book-genre-container" th:each="book:${bookGenre}">
                    <section th:if="${book.getTitle() != singleBookInfo.getTitle()}">
                        <img th:src="${book.getCover_page()}" th:alt="${book.getTitle()}" class="cover-page">
                        <p class="single-book-genre-info-container">
                            <span th:text="${book.getTitle()}" class="book-title">Title of Book</span> <br />
                            <small>By </small><small th:text="${book.getAuthor()}" class="\">Title of Book</small>
                        </p>
                    </section>
                </section>
            </section>
        </div>

    </div>
</div>



<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
</body>
</html>