<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('uesr Profile')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>



<main class="container-fluid">
    <div class="row">
        <!===== Left Side, User Profile Image and Details =====>
        <div id="left-side-user-info-container" class="col-12 col-sm-4 col-md-4">
            <div id="user-profile-info">
                <!===  Settings Button ====>
                <aside id="setting-button-container" class="setting-container">
                    <img th:src="@{/img/settings.png}" alt="Setting Button">
                </aside>
                <!=== Profile IMG ===>
                <section class="user-profile-picture-container">
                    <img class="user-profile-picture" th:src="@{img/noProfileImage.png}" th:if="${user.profilePicturePath == ''}" alt="No Image Provided" />
                    <img class="user-profile-picture" th:src="${profilePathway}" th:if="${user.profilePicturePath != ''}" th:alt="${user.getUsername()}">
                    <button class="button-17 mt-3">Add Friend</button>
                </section>
                <!=== User Details ===>
                <section class="user-details-container">
                    <h2 class="user-username"> Hello <span th:text="${user.getUsername()}">username</span></h2>
                    <p class="user-bio" th:unless="${user.getBio() == ''}" th:text="${user.getBio() != null ? user.getBio().substring(0, 1).toUpperCase() + user.getBio().substring(1) : 'No Bio'}"></p>
                    <hr class="w-75 mx-auto">
                    <small class="fav-genre-title">Favorite Genre:</small>
                    <aside class="user-fav-genre-container">
                        <span th:each="favoriteGenre : ${favoriteGenres}" th:text="${favoriteGenre.genre.name}"></span>
                    </aside>
                </section>
            </div>
            <!=== Settings Form ===>
            <div id="setting-form-container">
                <form th:action="@{/in/{id} (id=${user.getId()})}"
                        th:object="${user}"
                        method="post"
                      enctype="multipart/form-data">
                    <h3>Settings</h3>
                    <!-- Profile Picture -->
                    <div class="mb-3">
                        <label for="setting-profile-picture" class="form-label">Profile Picture:</label>
                        <input class="form-control" type="file" id="setting-profile-picture" th:field="*{profilePictureFile}">
                    </div>
                    <!-- First Name -->
                    <div class="mb-3">
                        <label for="setting-first-name" class="form-label">First Name:</label>
                        <input type="text"
                               title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 30 characters"
                               class="form-control"
                               th:field="*{first_name}"
                               th:value="${first_name}"
                               id="setting-first-name"
                               pattern="[a-zA-Z]{3,30}">
                    </div>
                    <!-- Last Name -->
                    <div class="mb-3">
                        <label for="setting-last-name" class="form-label">Last Name:</label>
                        <input type="text"
                               class="form-control"
                               id="setting-last-name"
                               th:field="*{last_name}"
                               th:value="${last_name}"
                               minlength="3"
                               maxlength="30"
                               title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 30 characters"
                               pattern="[a-zA-Z]{3,30}">
                    </div>
                    <!-- Username -->
                    <div class="mb-3">
                        <label for="setting-username" class="form-label">Username:</label>
                        <input type="text"
                               class="form-control"
                               id="setting-username"
                               th:value="${username}"
                               th:field="*{username}">
                    </div>
                    <!-- Email -->
                    <div class="mb-3">
                        <label for="settingsEmail" class="form-label">Email address</label>
                        <input type="email"
                               class="form-control"
                               id="settingsEmail"
                               minlength="6"
                               maxlength="254"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                               th:value="${email}"
                               th:field="*{email}"
                               title="Please provide a valid email">
                    </div>
                    <!-- password -->
                    <div class="mb-3">
                        <label for="settingsPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="settingsPassword" aria-describedby="passwordHelp" th:field="*{password}">
                        <div id="passwordHelp">Your password must be 8-20 characters long, 2 Uppercase & 2 Lowercase, 2 Numbers, 2 Special Characters</div>
                    </div>
                    <!-- Bio -->
                    <div class="mb-3">
                        <label for="setting-bio" class="form-label">Bio:</label>
<!--                        <textarea th:value="${user.getBio()}" class="form-control" id="setting-bio" rows="3"></textarea>-->
                        <textarea
                                  class="form-control"
                                  id="setting-bio"
                                  rows="3"
                                  style="resize: none;"
                                  th:field="*{bio}"
                                  th:value="${bio}">
                        </textarea>
                    </div>
                    <!-- Cancel Button -->
                    <button type="button" id="setting-cancel-button" class="btn btn-secondary">Cancel</button>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="hidden" th:field="*{id}" th:value="${user.id}">
                </form>
            </div>
        </div>

        <!===== Right Side, User Reviews =====>
        <div id="right-side-user-reviews-container" class="col-12 col-sm-8 col-md-8">

            <!-- Favorite Book Container -->
            <div>
                <!-- Container Title - (Favorite Book) -->
                <div class="section-title">
                    <h2>Favorite Books</h2>
                </div>
                <!-- This is going to be the container for the scroll -->
                <div id="WholeFavoriteBookContainer">
                    <section class="favorite-book-container" th:each="favBook:${favoriteBooks}">
                        <a th:href="@{/single/{id}(id = ${favBook.getBookId().getId()})}">
                            <img th:src="${favBook.getBookId().getCover_page()}" th:alt="${favBook.getBookId().getTitle()}" class="favorite-book-cover">
                            <p>
                                <span class="book-title" th:text="${favBook.getBookId().getTitle()}">Title of Book</span><br/>
                                <small>By </small>
                                <small th:text="${favBook.getBookId().getAuthor()}">Author</small>
                            </p>
                        </a>
                    </section>
                    <section th:if="${#lists.isEmpty(favoriteBooks)}" class="mx-auto mb-5">
                        <h5>No Favorite Book currently saved.</h5>
                    </section>
                </div>
            </div>
            <!-- Recent Reviews -->
            <div id="WholeUserReviewsContainer">
                <!-- Recent Review Title -->
                <div class="section-title">
                    <h2>Reviews</h2>
                </div>
                <div id="UserReviewContainer">
                    <div class="user-review-container" th:each="review:${usersReview}" th:if="${usersReview != null and not #lists.isEmpty(usersReview)}"
                        <!-- Book Cover -->
                        <section>
                            <a th:href="@{/single/{id}(id = ${review.getBookshelf().getId()})}" >
                                <img class="user-review-book-cover" th:src="@{/img/noImage.jpeg}" th:if="${review.getBookshelf().getCover_page() == ''}" alt="No Image Provided" />
                                <img class="user-review-book-cover" th:src="${review.getBookshelf().getCover_page()}" th:if="${review.getBookshelf().getCover_page() != ''}" th:alt="${review.getBookshelf().getTitle()}" />
                            </a>
                        </section>
                        <!-- User Review -->
                        <section class="review-user-wrote-container">
                            <!-- Review Title -->
                            <span  class="review-user-title" th:text="${review.title}">Review Title</span>
                            <!-- Review Edit Button -->
                            <img th:src="@{/img/edit-button-01.png}" class="user-review-edit-button" alt="Edit Button"><br/>
                            <!-- Review Rating -->
                            <span th:switch="${review.rating}" class="">
                                <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'2'" th:src="@{/img/ratings/twoStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'3'" th:src="@{/img/ratings/threeStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            </span>
                            <!-- Review Body -->
                            <p th:text="${review.body}">Review Body</p>
                        </section>
                    <!-- Edit Form -->
                        <aside class="edit-review-form-container">
                            <form th:action="@{/review/{id}(id = ${review.getId()})}" method="POST" th:object="${editReviewByNew}" class="edit-review-form">
                                <!-- Rating -->
                                <div class="">
                                    <label>
                                        <select class="form-select"  th:field="*{rating}">
                                            <option th:value="${review.getRating()}">Rating:</option>
                                            <option value="1">One Stars</option>
                                            <option value="2">Two Stars</option>
                                            <option value="3">Three Stars</option>
                                            <option value="4">Four Stars</option>
                                            <option value="5">Five Stars</option>
                                        </select>
                                    </label>
                                </div>
                                <!-- Title -->
                                <div class="">
                                    <label for="editReviewTitle"></label>
                                    <input type="text" class="form-control editReviewTitle" th:value="${review.getTitle()}" th:placeholder="${review.getTitle()}" th:field="*{title}" id="editReviewTitle">
                                </div>
                                <!-- Body -->
                                <div class="">
                                    <label for="editReviewBody"></label>
                                    <textarea class="form-control" id="editReviewBody" th:value="${review.getBody()}" th:placeholder="${review.getBody()}" th:field="*{body}" rows="5" style="resize:none;"></textarea>
                                </div>
                                <!-- Submit and Cancel Button -->
                                <button type="submit" class="btn btn-primary submitButton">Submit</button>
                                <button type="button" class="btn btn-secondary edit-review-cancel-button">Cancel</button>
                            </form>
                        </aside>
                    </div>
                    <div th:unless="${usersReview != null and not #lists.isEmpty(usersReview)}">
                        No Recent Reviews
                    </div>
            </div></div>


        </div>
</main>




<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
<script th:src="@{/js/userProfile.js}"></script>
<script th:src="@{/js/searchForBookNavbar.js}"></script>

<script>

    // //-- Showcase of the value for the rating.
    // const rangeInput = document.getElementById('reviewRate');
    // const valueDisplay = document.getElementById('rateValue');
    // // Set initial value
    // valueDisplay.textContent = rangeInput.value;
    // // Update value on input change
    // rangeInput.addEventListener('input', function() {
    //     valueDisplay.textContent = this.value;
    // });

    document.addEventListener("DOMContentLoaded", () => {
        let editForm = document.querySelectorAll(".edit-review-form-container");
            editForm.forEach((element) =>{
                element.style.display = "none";
            })

            document.querySelectorAll(".user-review-edit-button").forEach((button, index) => {
            // Assuming each button corresponds to the respective containers by index
            let reviewContainer = document.querySelectorAll(".review-user-wrote-container")[index];
            let editForm = document.querySelectorAll(".edit-review-form-container")[index];


            button.addEventListener("click", () => {
                console.log("edit Button Pushed")
                // Toggle visibility
                reviewContainer.style.display = reviewContainer.style.display === "none" ? "block" : "none";
                editForm.style.display = editForm.style.display === "none" ? "block" : "none";
            });
        });
       document.querySelectorAll(".edit-review-cancel-button").forEach((button, index) => {
            // Assuming each button corresponds to the respective containers by index
            let reviewContainer = document.querySelectorAll(".review-user-wrote-container")[index];
            let editForm = document.querySelectorAll(".edit-review-form-container")[index];
            let editReviewForm = document.querySelectorAll(".edit-review-form")[index];

            button.addEventListener("click", () => {
                // Toggle visibility
                editForm.style.display = editForm.style.display === "none" ? "block" : "none";
                reviewContainer.style.display = reviewContainer.style.display  === "none" ? "block" : "none";
                editReviewForm.reset();
            });
        });

    });

</script>

</body>
</html>