<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('uesr Profile')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>



<main class="container-fluid">
    <div class="row">

        <!===== Left Side, User Profile Image and Details =====>
        <div id="left-side-user-info-container" class="col-12 col-sm-4 col-md-4">
            <!===  Settings Button ====>
            <aside class="setting-container">
                <img th:src="@{/img/settings.png}" alt="Setting Button">
            </aside>
            <!=== Profile IMG ===>
            <section class="user-profile-picture-container">
                <img class="user-profile-picture" th:src="@{img/noProfileImage.png}" th:if="${user.profile_picture == ''}" alt="No Image Provided" />
                <img class="user-profile-picture" th:src="${user.getProfile_picture()}" th:if="${user.profile_picture != ''}" th:alt="${user.getUsername()}">
                <button class="button-17 mt-3">Add Friend</button>
            </section>
            <!=== User Details ===>
            <section class="user-details-container">
                <h2 class="user-username"> Hello <span th:text="${user.getUsername()}">username</span></h2>
                <p class="user-bio" th:text="${user.getBio().substring(0, 1).toUpperCase() + user.getBio().substring(1)}"></p>
                <hr class="w-75 mx-auto">
                <small class="fav-genre-title">Favorite Genre:</small>
                <aside class="user-fav-genre-container">
                    <span th:each="favoriteGenre : ${favoriteGenres}" th:text="${favoriteGenre.genre.name}"></span>
                </aside>
            </section>
        </div>

        <!===== Right Side, User Reviews =====>
        <div id="right-side-user-reviews-container" class="col-12 col-sm-8 col-md-8">
            <!=== Review Title ===>
            <div class="section-title">
                <h2>Reviews</h2>
            </div>
            <!=== Review Container ===>
            <div class="row">
                <!=== Each Review ===>
                <div class="user-reviews-container col-11 col-md-9 col-lg-5 row" th:each="review:${usersReview}">
                    <!=== Review Book Info Container ===>
                    <section class="col-3 col-lg-4">
                        <img class="user-profile-book-cover" th:src="@{img/noImage.png}" th:if="${review.getBookshelf().getCover_page() == ''}" alt="No Image Provided" />
                        <img class="user-profile-book-cover" th:src="${review.getBookshelf().getCover_page()}" th:if="${review.getBookshelf().getCover_page() != ''}" th:alt="${review.getBookshelf().getTitle()}" />
<!--                        <p>-->
<!--                            <span class="user-review-book-title" th:text="${review.getBookshelf().getTitle()}">Book Title</span><br/>-->
<!--                            <small class="user-review-author">By <span th:text="${review.getBookshelf().getAuthor()}"></span></small>-->
<!--                        </p>-->
                    </section>
                    <!=== Review Container ===>
                    <section class="col-9 col-lg-8">
                        <!===  Review Title ====>
                        <span  class="user-review-title" th:text="${review.title}">Review Title</span>
                        <img th:src="@{img/edit-button.png}" class="edit-review-button" alt="Edit Button">
                       <br/>
                        <!===  Review Rating ====>
                        <span th:switch="${review.rating}" class="">
                            <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            <img th:case="'2'" th:src="@{img/ratings/twoStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            <img th:case="'3'" th:src="@{/img/ratings/threeStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                        </span>
                        <!===  Review Body ====>
                        <p th:text="${review.body}">Review Body</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
















<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
</body>
</html>