<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('uesr Profile')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/loginNavbar :: LoggedIn-Navbar"></nav>


<main class="container-fluid">
    <div class="row">
        <!===== Left Side, User Profile Image and Details =====>
        <div id="left-side-user-info-container" class="col-12 col-sm-4 col-md-4">
            <!-- Not sure what this div is for? -->
            <div id="user-profile-info">
                <!-- image section container -->
                <section class="user-profile-container" id="user-profile-container">
                    <!-- Image if there is no pathway -->
                    <img
                        class="user-profile-picture"
                        th:src="@{/img/noProfileImage.png}"
                        th:if="${user.profilePicturePath == null}"
                        alt="No Image Provided">
                    <!-- Profile Picture -->
                    <img
                        class="user-profile-picture"
                        th:src="${user.getProfilePicturePath()}"
                        th:if="${user.profilePicturePath != ''}"
                        th:alt="${user.getUsername()}">
                </section>
                <section class="user-information-container" id="user-information-container">
                    <!-- Add a Friend Button -->
                    <form th:action="@{/addFriend/{id}/in/11 (id=${user.getId()})}" method="post">
                        <button class="friend-button" th:if="${hideForNow != 'show'}">Add Friend</button>
                    </form>
                    <!-- Unfriend Button -->
                    <form>
                        <button class="unfriend-button" th:if="${hideForNow != 'show'}">Unfriend</button>
                    </form>
                    <!-- Setting Button -->
                    <button class="setting-button" id="setting-button" th:if="${hideForNow != 'hide'}">Setting</button>
                    <!-- User Greeting -->
                    <h2>
                        Hello <span th:text="${user.getUsername()}">USERNAME</span>,
                    </h2>
                    <!-- User Bio -->
                    <p
                    class="user-bio"
                    th:unless="${user.getBio() == ''}"
                    th:text="${user.getBio() != null ? user.getBio() : 'No Bio yet'}">
                        Fake Bio
                    </p>
                    <!-- Favorite Genre -->
                    <div th:if="${user.getFavoriteGenres().size() > 0}">
                        <p class="fav-genre-profile">Favorite Genre:</p>
                        <aside id="userFavoriteGenreContainer">
                            <form class="favoriteGenreDeleteForm" th:each="favGenre : ${user.getFavoriteGenres()}" th:action="@{/favoriteGenre/delete/{id}(id = ${favGenre.getId()})}" method="POST">
                                <button type="submit" class="btn btn-danger delete-fav-genre-button">X</button>
                                <p th:text="${favGenre.genre.name}"></p>
                            </form>
                        </aside>
                        <!-- If user tries to get more than 5 genres then this message will appear -->
                        <small th:text="${hitMaxFavGenre}">Default Warning Message</small>
                    </div>
                    <div th:if="${user.getFavoriteGenres().size() == 0}">
                        <h5>No favorite genre</h5>
                    </div>
                </section>
                <section class="user-setting-container" id="setting-form-container">
                    <form th:action="@{/in/{id} (id=${user.getId()})}"
                          th:object="${user}"
                          method="post"
                          enctype="multipart/form-data">
                        <!-- Form Title -->
                        <h3>Settings</h3>
                        <!-- Hidden User Id Input -->
                        <input type="hidden" th:field="*{id}" th:value="${user.id}">
                        <!-- Profile Picture -->
                        <div class="mb-3">
                            <label for="setting-profile-picture" class="form-label">Profile Picture:</label>
                            <input class="form-control" type="file" id="setting-profile-picture" th:field="*{profilePictureFile}">
                        </div>
                        <!-- First Name -->
                        <div class="mb-3">
                            <label for="setting-first-name" class="form-label">First Name:</label>
                            <input type="text"
                                   title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 30 characters"
                                   class="form-control"
                                   th:field="*{first_name}"
                                   th:value="${first_name}"
                                   id="setting-first-name"
                                   pattern="[a-zA-Z]{3,30}">
                        </div>
                        <!-- Last Name -->
                        <div class="mb-3">
                            <label for="setting-last-name" class="form-label">Last Name:</label>
                            <input type="text"
                                   class="form-control"
                                   id="setting-last-name"
                                   th:field="*{last_name}"
                                   th:value="${last_name}"
                                   minlength="3"
                                   maxlength="30"
                                   title="Uppercase & Lowercase letters only, no punctuation, numbers, or special characters and between 3 and 30 characters"
                                   pattern="[a-zA-Z]{3,30}">
                        </div>
                        <!-- Username -->
                        <div class="mb-3">
                            <label for="setting-username" class="form-label">Username:</label>
                            <input type="text"
                                   class="form-control"
                                   id="setting-username"
                                   th:value="${username}"
                                   th:field="*{username}">
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="settingsEmail" class="form-label">Email address</label>
                            <input type="email"
                                   class="form-control"
                                   id="settingsEmail"
                                   minlength="6"
                                   maxlength="254"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                   th:value="${email}"
                                   th:field="*{email}"
                                   title="Please provide a valid email">
                        </div>
                        <!-- Bio-->
                        <div class="mb-3">
                            <label for="setting-bio" class="form-label">Bio:</label>
                            <textarea
                                    class="form-control"
                                    id="setting-bio"
                                    rows="3"
                                    style="resize: none;"
                                    th:field="*{bio}"
                                    th:value="${bio}">
                            </textarea>
                        </div>
                        <!-- Favorite Genre -->
                        <div class="mb-3">
                            <label for="setting-favorite-genre" class="form-label">Favorite genre: (Choose up to 5, One at a time)</label>
                            <select class="form-select" aria-label="Default select example" id="setting-favorite-genre" name="favoriteGenres">
                                <option th:value="${0}" selected>Open this select menu</option>
                                <th:block th:each="genre : ${ListOfGenre}">
                                    <option th:value="${genre.id}" th:text="${genre.name}">Genre Name</option>
                                </th:block>
                            </select>
                        </div>
                        <div class="mb-3">
                            <small>If you would like to
                                <a th:href="@{/forgot_password}" target="_blank" th:alt="forgot_password" class="btn text-warning p-0 m-0">
                                    change your password
                                </a>
                            </small>
                        </div>

                        <!-- Submit and Cancel Buttons -->
                        <button type="submit" id="submitEditProfileButton">Submit</button>
                        <button type="reset" id="cancelEditProfileButton">Cancel</button>
                    </form>
                </section>
            </div>
        </div>

          <!===== Right Side, User Reviews =====>
          <div id="right-side-user-reviews-container" class="col-12 col-sm-8 col-md-8">

              <div>
                  <!--  Title - (Friends, How many of us have them?) -->
                  <div class="section-title">
                      <a th:href="@{/in/{userId}/friends(userId = ${user.getId()})}">
                          <h2>Bookworms</h2>  
                      </a>
                  </div>
                  <div class="" id="bestFriendContainer">
                      <section th:each="friend : ${allFriends}" th:if="${friend.status == 'granted'}" class="eachBF">
                          <a th:href="${friend.getUserId()}" th:title="${friend.getFriendUsername()}">
                            <img th:src="${friend.getProfilePicture()}" th:alt="${friend.getFriendUsername()}">
                            <h4 th:text="${friend.friendUsername}">Friend's Username</h4>
                          </a>
                      </section>
                  </div>
              </div>

          <!-- Favorite Book Container -->
            <div>
                <!-- Container Title - (Favorite Book) -->
                <div class="section-title">
                    <h2>Favorite Books</h2>
                </div>
                <!-- This is going to be the container for the scroll -->
                <div id="WholeFavoriteBookContainer">
                    <section class="favorite-book-container" th:each="favBook:${favoriteBooks}">
                        <a th:href="@{/single/{id}(id = ${favBook.getBookId().getId()})}">
                            <img th:src="${favBook.getBookId().getCover_page()}" th:alt="${favBook.getBookId().getTitle()}" class="favorite-book-cover">
                            <p>
                                <span class="book-title" th:text="${favBook.getBookId().getTitle()}">Title of Book</span><br/>
                                <small>By </small>
                                <small th:text="${favBook.getBookId().getAuthor()}">Author</small>
                            </p>
                        </a>
                    </section>
                    <section th:if="${#lists.isEmpty(favoriteBooks)}" class="mx-auto mb-5">
                        <h5>No Favorite Book currently saved.</h5>
                    </section>
                </div>
            </div>
            <!-- Recent Reviews -->
            <div id="WholeUserReviewsContainer">
                <!-- Recent Review Title -->
                <div class="section-title">
                    <h2>Reviews</h2>
                </div>
                <div id="UserReviewContainer">
                    <div class="user-review-container" th:each="review:${usersReview}" th:if="${usersReview != null and not #lists.isEmpty(usersReview)}">
                        <!-- Book Cover -->
                        <section>
                            <a th:href="@{/single/{id}(id = ${review.getBookshelf().getId()})}" >
                                <img class="user-review-book-cover" th:src="@{/img/noImage.jpeg}" th:if="${review.getBookshelf().getCover_page() == ''}" alt="No Image Provided" />
                                <img class="user-review-book-cover" th:src="${review.getBookshelf().getCover_page()}" th:if="${review.getBookshelf().getCover_page() != ''}" th:alt="${review.getBookshelf().getTitle()}" />
                            </a>
                        </section>
                        <!-- User Review -->
                        <section class="review-user-wrote-container">
                            <!-- Review Title -->
                            <span  class="review-user-title" th:text="${review.title}">Review Title</span>
                            <!-- Review Edit Button -->
                            <img th:src="@{/img/edit-button-01.png}" class="user-review-edit-button" alt="Edit Button"><br/>
                            <!-- Review Rating -->
                            <span th:switch="${review.rating}" class="">
                                <img th:case="'0'" th:src="@{/img/ratings/noStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'1'" th:src="@{/img/ratings/oneStar.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'2'" th:src="@{/img/ratings/twoStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'3'" th:src="@{/img/ratings/threeStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'4'" th:src="@{/img/ratings/fourStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                                <img th:case="'5'" th:src="@{/img/ratings/fiveStars.png}" th:alt="${review.rating}" class="user-review-book-rating">
                            </span>
                            <!-- Review Body -->
                            <p th:text="${review.body}">Review Body</p>
                        </section>
                    <!-- Edit Form -->
                        <aside class="edit-review-form-container">
                            <!-- Delete Review -->
                            <button class="btn btn-danger edit-review-delete-button">
                                <img th:src="@{/img/trash.png}" alt="trash-icon">
                            </button>
                            <!-- Delete Verification Modal -->
                            <div id="modalDeleteReview" class="modal-container">
                                <h3>Are you sure you would like to delete this review?</h3>
                                <!-- Delete Review Verify -->
                                <form th:action="@{/review/delete/{id}(id = ${review.getId()})}" method="POST">
                                    <button type="submit" class="main-review-delete-button" >Delete</button>
                                    <button type="reset" class="cancel-delete-button">Cancel</button>
                                </form>
                            </div>

`
                            <!-- Edit Review -->
                            <form th:action="@{/review/{id}(id = ${review.getId()})}" method="POST" th:object="${editReviewByNew}" class="edit-review-form">
                                <!-- Rating -->
                                <div class="">
                                    <label>
                                        <select class="form-select"  th:field="*{rating}">
                                            <option th:value="${review.getRating()}">Rating:</option>
                                            <option value="1">One Stars</option>
                                            <option value="2">Two Stars</option>
                                            <option value="3">Three Stars</option>
                                            <option value="4">Four Stars</option>
                                            <option value="5">Five Stars</option>
                                        </select>
                                    </label>
                                </div>
                                <!-- Title -->
                                <div class="">
                                    <label for="editReviewTitle"></label>
                                    <input type="text" class="form-control editReviewTitle" th:value="${review.getTitle()}" th:placeholder="${review.getTitle()}" th:field="*{title}" id="editReviewTitle">
                                </div>
                                <!-- Body -->
                                <div class="">
                                    <label for="editReviewBody"></label>
                                    <textarea class="form-control" id="editReviewBody" th:value="${review.getBody()}" th:placeholder="${review.getBody()}" th:field="*{body}" rows="4" style="resize:none;"></textarea>
                                </div>
                                <!-- Submit and Cancel Button -->
                                <button type="submit" class="btn btn-primary submitButton">Submit</button>
                                <button type="button" class="btn btn-secondary edit-review-cancel-button">Cancel</button>
                            </form>
                        </aside>
                    </div>
                    <div th:unless="${usersReview != null and not #lists.isEmpty(usersReview)}">
                        No Recent Reviews
                    </div>
                </div>
            </div>
          </div>
    </div>
</main>




<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
<script th:src="@{/js/userProfile.js}"></script>
<script th:src="@{/js/searchForBookNavbar.js}"></script>
<script th:src="@{/js/edit-reviews.js}"></script>

</body>
</html>