<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="LoggedIn-Navbar">
    <div class="container">
        <!-- nav Brand -->
        <span class="navbar-brand"><a class="navbar-brand" th:href="@{/welcome}">Bookworm</a></span>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Anchors -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a th:href="@{/logout}" class="nav-link" id="logout-button">logout</a>
            </div>
        </div>
    </div>
    <div id="book-search-results" class="container-lg container-fluid"></div>
</nav>

