<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="Navbar">
    <div class="container">
        <!-- Navbar brand logo -->
        <a th:href="@{/}" class="navbar-brand">Bookworm</a>
        <!-- Collapse Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a th:href="@{/aboutBookworm}" href="" class="nav-about-bookworm nav-link">About Bookworm</a>
                <a th:href="@{/login}" class="nav-log-in nav-link">Log in</a>
                <a th:href="@{/sign-up}" class="nav-get-started-btn nav-link">Get Started</a>
            </div>
        </div>
    </div>
</nav>