/*
Navbar - Logged Out
    - Get Started
    - Login
Hero Introduction
    Get Started Button
    Login Button

*/
/*Index*/
#hero-introduction .container #section-one aside .get-started-button,
#hero-introduction .container #section-one aside .login-button,
/*Navbar*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-get-started-btn{
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /*font-size: 16px;*/
    outline: none;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

/*  ~~HOVER~~
Navbar - Logged Out
    - Get Started
    - Login
Hero Introduction
    Get Started Button
    Login Button

*/

/*Index*/
#hero-introduction .container #section-one aside .get-started-button:hover,
#hero-introduction .container #section-one aside .login-button:hover,
/*Navbar*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in:hover,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-get-started-btn:hover{
    background-color: #0e8641;
    border: 1px solid #0e8641;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}


/*
    ----- Individual Styling Buttons -----
*/

/* Login Button Color Change*/
/*Index*/
#hero-introduction .container #section-one aside .login-button,
    /*Navbar*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in{
    background-color: #5b8ed5;
    border: 1px solid #5b8ed5;
}

/*Login Button - HOVER*/
/*Index*/
#hero-introduction .container #section-one aside .login-button:hover,
    /*Navbar*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in:hover{
    background-color: rgba(100, 149, 237, 0.49);
    border: 1px solid rgba(100, 149, 237, 0.49);
}



/*--------- Navigation ---------*/
/*Login Button*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in{
    margin-right: 12px;
    margin-left: 12px;
}




/*---------- Screens smaller than 991px ----------*/
@media (max-width: 991px){
    /*About Bookworm*/
    #loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-about-bookworm{
        margin-top: 12px;
    }
    /*Login Button*/
    #loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in{
        margin: 12px 0;
    }
}