/*
Navbar - Logged Out
    - Get Started
    - Login
Hero Introduction
    Get Started Button
    Login Button

*/
/*Index*/
/*Navbar*/
/*Register Page - Submit Button*/
/*Login Page - Submit Button*/
/*ForgotPassword - Submit Button*/
main #hero-introduction .container #section-one aside .get-started-button,
main #hero-introduction .container #section-one aside .login-button,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-get-started-btn,
#mainRegisterPage #registerForm #register-submit-btn,
#main-login .container #loginCard #login-section-two #login-form #login-form-submit-btn,
#forgotPasswordMain .container #forgotPasswordForm #forgotPassword-submit-btn,
#main-book-page #leftSide-book-page form .liked-book-btn,
#main-book-page #leftSide-book-page #unFavForm .unliked-book-btn,
#main-book-page #leftSide-book-page #write-review-button,
#main-book-page #leftSide-book-page .purchase-book-btn,
#writeAReviewContainer #writing-review-form .btn-primary,
#writeAReviewContainer #writing-review-form .btn-secondary,
#main-profile #leftSide-user-profile #user-information #friendForm .friend-button,
#main-profile #leftSide-user-profile #user-information #unfriendForm .unfriend-button,
#main-profile #leftSide-user-profile #user-information .setting-button,
#main-profile #leftSide-user-profile #setting-form-container  #submitEditProfileButton,
#main-profile #leftSide-user-profile #setting-form-container  #cancelEditProfileButton,
.edit-review-form-container .edit-review-form .submitButton,
.edit-review-form-container .edit-review-form .edit-review-cancel-button,
#modalDeleteReview form .main-review-delete-button,
#modalDeleteReview form .cancel-delete-button,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .addNewFriendForm .addNewFriendButton,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .unfriendForm .unfriendButton
{
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /*font-size: 16px;*/
    outline: none;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

/*  ~~HOVER~~
Navbar - Logged Out
    - Get Started
    - Login
Hero Introduction
    Get Started Button
    Login Button

*/

/*Index*/
/*Navbar*/
/*Register Page - Submit Button*/
/*Login Page - Submit Button*/
/*ForgotPassword - Submit Button*/
main #hero-introduction .container #section-one aside .get-started-button:hover,
main #hero-introduction .container #section-one aside .login-button:hover,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in:hover,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-get-started-btn:hover,
#mainRegisterPage #registerForm #register-submit-btn:hover,
#main-login .container #loginCard #login-section-two #login-form #login-form-submit-btn:hover,
#forgotPasswordMain .container #forgotPasswordForm #forgotPassword-submit-btn:hover,
#main-book-page #leftSide-book-page form .liked-book-btn:hover,
#main-book-page #leftSide-book-page #unFavForm .unliked-book-btn:hover,
#main-book-page #leftSide-book-page #write-review-button:hover,
#main-book-page #leftSide-book-page .purchase-book-btn:hover,
#writeAReviewContainer #writing-review-form .btn-primary:hover,
#writeAReviewContainer #writing-review-form .btn-secondary:hover,
#main-profile #leftSide-user-profile #user-information #friendForm .friend-button:hover,
#main-profile #leftSide-user-profile #user-information #unfriendForm .unfriend-button:hover,
#main-profile #leftSide-user-profile #user-information .setting-button:hover,
#main-profile #leftSide-user-profile #setting-form-container  #submitEditProfileButton:hover,
#main-profile #leftSide-user-profile #setting-form-container  #cancelEditProfileButton:hover,
.edit-review-form-container .edit-review-form .submitButton:hover,
.edit-review-form-container .edit-review-form .edit-review-cancel-button:hover,
#modalDeleteReview form .main-review-delete-button:hover,
#modalDeleteReview form .cancel-delete-button:hover,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .addNewFriendForm .addNewFriendButton:hover,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .unfriendForm .unfriendButton:hover
{
    background-color: #0e8641;
    border: 1px solid #0e8641;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}


/*
    ----- Individual Styling Buttons -----
*/

/* Login Button Color Change*/
/*Index*/
/*Navbar*/
/*Register Page - Submit Button*/
/*ForgotPassword - Submit Button*/
main #hero-introduction .container #section-one aside .login-button,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in,
#mainRegisterPage #registerForm #register-submit-btn,
#main-login .container #loginCard #login-section-two #login-form #login-form-submit-btn,
#forgotPasswordMain .container #forgotPasswordForm #forgotPassword-submit-btn,
#main-book-page #leftSide-book-page form .unliked-book-btn,
#writeAReviewContainer #writing-review-form .btn-primary,
#main-profile #leftSide-user-profile #setting-form-container  #submitEditProfileButton,
.edit-review-form-container .edit-review-form .submitButton,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .addNewFriendForm .addNewFriendButton
{

    background-color: #5b8ed5;
    border: 1px solid #5b8ed5;
}

/*Login Button - HOVER*/
/*Index*/
/*Navbar*/
/*Register Page - Submit Button*/
/*ForgotPassword - Submit Button*/
main #hero-introduction .container #section-one aside .login-button:hover,
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in:hover,
#mainRegisterPage #registerForm #register-submit-btn:hover,
#main-login .container #loginCard #login-section-two #login-form #login-form-submit-btn:hover,
#forgotPasswordMain .container #forgotPasswordForm #forgotPassword-submit-btn:hover,
#main-book-page #leftSide-book-page form .unliked-book-btn:hover,
#writeAReviewContainer #writing-review-form .btn-primary:hover,
#main-profile #leftSide-user-profile #setting-form-container  #submitEditProfileButton:hover,
.edit-review-form-container .edit-review-form .submitButton:hover,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .addNewFriendForm .addNewFriendButton:hover
{
    background-color: rgba(100, 149, 237, 0.49);
    border: 1px solid rgba(100, 149, 237, 0.49);
}



/**
    Navigation

 */
/*Login Button*/
#loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in{
    margin-right: 12px;
    margin-left: 12px;
}


/**
   Book Profile

 */

/*--------- liked Button ---------*/
#main-book-page #leftSide-book-page form .liked-book-btn{
    background-color: #f12323;
    border: 1px solid #f12323;
    width: 200px;
    margin-top: 12px;

}
#main-book-page #leftSide-book-page form .liked-book-btn:hover{
    background-color: #7c0c0c;
    border: 1px solid #7c0c0c;
}

/*--------- Unliked Button ---------*/
#main-book-page #leftSide-book-page #unFavForm .unliked-book-btn{
    background-color: #b9babb;
    border: 1px solid #b9babb;
    width: 200px;
    margin-top: 12px;
}

#main-book-page #leftSide-book-page #unFavForm .unliked-book-btn:hover{
    background-color: #2f2f2f;
    border: 1px solid #2f2f2f
}

/*--------- Write Review Button ---------*/
#main-book-page #leftSide-book-page #write-review-button{
    background-color: #f19823;
    border: 1px solid #f19823;
    width: 200px;
    margin-top: 12px;

}
#main-book-page #leftSide-book-page #write-review-button:hover{
    background-color: #855311;
    border: 1px solid #855311
}
/*--------- GooglePlay Button ---------*/
#main-book-page #leftSide-book-page .purchase-book-btn{
    width: 200px;
    margin-top: 12px;
}
#main-book-page #leftSide-book-page .purchase-book-btn:hover{

}
/*--------- Book-Page - Writing Review Cancel Button ---------*/
/*--------- Book-Page - Settings Form Cancel Button ---------*/
/*--------- Profile - Modal Container ---------*/
#writeAReviewContainer #writing-review-form .btn-secondary,
#main-profile #leftSide-user-profile #setting-form-container  #cancelEditProfileButton,
.edit-review-form-container .edit-review-form .edit-review-cancel-button,
#modalDeleteReview form .cancel-delete-button,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .unfriendForm .unfriendButton
{
    background-color: #b9babb;
    border: 1px solid #b9babb;
}
/*--------- Book-Page - Writing Review Cancel Button : HOVER---------*/
#writeAReviewContainer #writing-review-form .btn-secondary:hover,
#main-profile #leftSide-user-profile #setting-form-container  #cancelEditProfileButton:hover,
.edit-review-form-container .edit-review-form .edit-review-cancel-button:hover,
#modalDeleteReview form .cancel-delete-button:hover,
#rightSide-notifications #notificationContainer .container-lg #body-notification-section .eachNotification .form-containers .unfriendForm .unfriendButton:hover
{
    background-color: #2f2f2f;
    border: 1px solid #2f2f2f
}

/**
    PROFILE PAGE

 */

/*--------- Profile-Page - Friend Button ---------*/
#main-profile #leftSide-user-profile #user-information #friendForm .friend-button{
    width: 200px;
    background-color: #5b8ed5;
    border: 1px solid #5b8ed5;
}
/*--------- Profile-Page - Friend Button : HOVER ---------*/
#main-profile #leftSide-user-profile #user-information #friendForm .friend-button:hover{
    background-color: rgba(100, 149, 237, 0.49);
    border: 1px solid rgba(100, 149, 237, 0.49);
}
/*--------- Profile-Page - Unfriend Button ---------*/
#main-profile #leftSide-user-profile #user-information #unfriendForm .unfriend-button{
    width: 200px;
}
/*--------- Profile-Page - Unfriend Button : HOVER ---------*/
#main-profile #leftSide-user-profile #user-information #unfriendForm .unfriend-button:hover{

}
/*--------- Profile-Page - Setting Button ---------*/
#main-profile #leftSide-user-profile #user-information .setting-button{
    background-color: #b9babb;
    border: 1px solid #b9babb;
    width: 200px;
}
/*--------- Profile-Page - Setting Button HOVER ---------*/
#main-profile #leftSide-user-profile #user-information .setting-button:hover{
    background-color: #2f2f2f;
    border: 1px solid #2f2f2f
}

/*--------- Profile-Page - Modal Container ---------*/
#modalDeleteReview form .main-review-delete-button{
    background-color: #f12323;
    border: 1px solid #f12323;
}
/*--------- Profile-Page - Hover ---------*/
#modalDeleteReview form .main-review-delete-button:hover{
    background-color: #7c0c0c;
    border: 1px solid #7c0c0c;
}




/**
    Media Queries

 */
/*---------- Screens smaller than 991px ----------*/
@media (max-width: 991px){
    /*About Bookworm*/
    #loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-about-bookworm{
        margin-top: 12px;
    }
    /*Login Button*/
    #loggedOutNavbar .container #navbarNavAltMarkup .navbar-nav .nav-log-in{
        margin: 12px 0;
    }
}