@import "/static/css/resetCSS.css";
/*Essentials*/
@import "essentialsStylesheet.css";
/*All Buttons*/
@import "buttonStylesheet.css";
/*NavBar & Footer*/
@import "navbarFooterStylesheet.css";
/*About Page*/
@import "aboutStylesheet.css";
/*Register & Login Page*/
@import "signinStylesheet.css";
/*Welcome Page*/
@import "welcomeStylesheet.css";
/*Book Page*/
@import "bookPageStylesheet.css";
/*User Profile Page*/
@import "profileStylesheet.css";



/*======= Index Page =======*/
#mainIndexPage {
    /*----- Hero Introduction -----*/
    background: rgba(154, 182, 222, 0.27);
    #hero-introduction {
        background: #37517e;
        height: 70vh;
        max-height: 620px;
        @media (max-width: 767px) {
            & {
                height: 100%;
            }
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;
            @media (max-width: 767px) {
                & {
                    grid-template-columns: 1fr;
                }
            }
            /*- Section One -*/
            #section-one{
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width:767px) {
                    &{
                        order: 2;
                        text-align: center;
                    }
                }
                /*Heading One*/
                & h1{
                    font-size: 48px;
                    color: #fff;
                    @media (max-width:767px) {
                        &{
                            font-size: 32px;
                        }
                    }
                }
                /*Heading Two*/
                & h2{
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.6);
                    @media (max-width:767px) {
                        &{
                            font-size: 20px;
                        }
                    }
                }
                /*Section for sing up and login buttons*/
                & aside{
                    margin: 24px 0;
                    .get-started-button{
                        margin-right: 24px;
                    }
                }
        }
            /*Section Two*/
            #section-two{
                display: flex;
                justify-content: center;
                align-items: center;

                /*Bookworm Logo*/
                #bookwormLogo{
                    width: 100%;
                    height: auto;
                    @media (max-width:767px) {
                        &{
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
    /*---------- Services Section ----------*/
    #service{
        margin-top: -42px;
        margin-bottom: 42px;
        @media (max-width:767px) {
            &{
                margin-top: 42px;
            }
        }
        .container-lg{
            /*Icon Container*/
            #icon-section-container{
                display: grid;
                grid-template-columns:  1fr 1fr 1fr;
                column-gap: 24px;
                @media (max-width:767px) {
                    &{
                        grid-template-columns: auto;
                        column-gap: 0;
                        row-gap: 24px;
                    }
                }
                /*Each Icon Section*/
                .icon-container{
                    background: #fff;
                    border: 3px solid #dfdfe0;
                    border-radius: 50px 25px;
                    padding: 25px 16px;
                    z-index: 100;
                    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
                    transition: all ease-in-out 0.4s;
                    &:hover{
                        transform: translateY(-10px);
                    }
                    /*Each Title*/
                    > h4{
                        color: #37517e;
                    }
                    /*Icon Container*/
                    .icon{
                        /*The Search, conversation ,plusHeart icons*/
                        .icon-logo{
                            color: #47b2e4;
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }

    /*---------- Books Available Section ----------*/
    #currentBooksAvailable{
        padding: 42px 0;
        /*Container for header and Paragraph*/
        .main-title{
            > h2{
                position: relative;
                color: #37517e;
                text-align: center;
                padding-bottom: 18px;
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 120px;
                    height: 1px;
                    background: #fff;
                    bottom: 1px;
                    left: calc(50% - 60px);
                }
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 40px;
                    height: 3px;
                    background: #47b2e4;
                    bottom: 0;
                    left: calc(50% - 20px);
                }
            }
        }
        /*Book Section*/
        #wholeBookContainer{
            display: flex;
            overflow-x: scroll;
            scroll-behavior: smooth;
            column-gap: 21px;
            padding: 42px 0;
            scrollbar-color: #007 rgba(154, 182, 222, 0.27);
            /* Each Book Container*/
            .book-container{
                background: #fff;
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                border-radius: 25px;
                transition: transform 0.8s, box-shadow 1s;
                /*Hover*/
                &:hover {
                    transform: scale(0.98);
                    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                }
                & a{
                    text-decoration: none;
                    color: #1e1e1e;
                    /*Book Cover*/
                    .book-cover{
                        width: 190px;
                        height: 220px;
                        border-radius: 25px 25px 0 0;
                    }
                    & p {
                        padding-left: 12px;
                        /*Each Book Title*/
                        .book-title{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

