
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}

body{
    background-color: #f3f5fa;
    font-family: "Open Sans", sans-serif;
}

/*======= Navbar =======*/
.navbar-brand{
    font-family: "Jost", sans-serif;
}
.navbar-nav{

}

.btn-log-in-nav{
    font-size: 16px;
    display: flex;
    align-items: center;
    /*margin: 10px 0 0 25px;*/
    color: #47b2e4;
    line-height: 1px;
    text-decoration: none;
    transition: 0.5s;
}
.btn-log-in-nav:hover{
    color:#209dd8;
    transform: scale(1.1);
}

/*===== Screen smaller then 991px =====*/
@media (max-width: 991px){

    /*===== nav =====*/
    .btn-log-in-nav{
        margin: 12px 0 24px 0;
        transform: none;
    }
    .btn-log-in-nav:hover{
        color: #17709a;
        transform: none;
    }
}
/*===== Hero Container =====*/
#hero{
    width: 100%;
    height: 80vh;
    background: #37517e;
}
#hero .container{
    padding-top: 72px;
}

/*===== Heading 1 =====*/
#hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

/*===== Heading 2 =====*/
#hero h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

/*===== Get Started Button =====*/
.btn-get-started{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px;
    border-radius: 50px;
    color: #fff;
    background: #47b2e4;
    transition: 0.5s;
    text-decoration: none;
}
.btn-get-started:hover {
    background: #209dd8;
}

/*===== Login Button - hero section =====*/
.btn-log-in{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1px;
    text-decoration: none;
    transition: 0.5s;
}
.btn-log-in:hover{
    color:#47b2e4;
    transform: scale(1.1);
}
/*===== Hero - Image Logo =====*/
.hero-img img{
    width: 75%;
}

/*=== Screen smaller then 991px ===*/
@media (max-width: 991px){
    /*=== Hero ===*/
    #hero {
        height:100vh;
        text-align: center;
    }
    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 50%;
    }
}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2{
        font-size:18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img{
        width: 70%;
    }
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){
    #hero .hero-img img{
        width: 80%;
    }
    #hero .btn-get-started{
        font-size: 16px;
        padding: 10px 24px;
    }
}


/*========  Services  ========*/
#services{
    margin-top: -120px;
    padding: 60px;
    overflow: hidden;
    z-index: 100;
    display: block;
    position: relative;
}
.icon-container {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    background: #fff;
    border-radius: 50px 25px;
    z-index: 100;
    display: block;
    position: relative;
    transition: all ease-in-out 0.4s;
}

.icon-container:hover{
    transform: translateY(-10px);
}

.services .icon-container .icon{
    margin-bottom: 10px;
}

.icon .icon-logo {
    color: #47b2e4;
    font-size: 36px;
}

.icon-container h4{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 24px;
    color: #37517e;
}
.icon-container p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/*=== Screen smaller then 991px ===*/
@media (max-width: 991px){
    /*=== Services ===*/
    #services{
        margin: 0;
        padding: 60px 0;
    }
}

/*========  Books Section  ========*/
/*== Section of Title ==*/
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
/*== Title ==*/
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
/*== title section paragraph ==*/
.section-title p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

/*====== Arrow and Book Container ======*/
.left-arrow{
    position: absolute;
    top: 240px;
    left: -50px;
    z-index: 100;
    font-size: 36px;
}

.right-arrow{
    position: absolute;
    top: 240px;
    right: -50px;
    z-index: 100;
    font-size: 36px;
}


/*====== Book Container ======*/
.book-container{
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /*padding: 25px 15px;*/
    margin: 60px;
    background: #fff;
}
/*===== Cover Pages =====*/
.cover-page{
    height: 320px;
    width: auto;
    border-radius: 25px 25px 0 0;
    padding:0;
    margin: 0;
}
/*== Book info Container ==*/
.book-info-container{
    padding: 12px 0 0 24px   ;
}
/*== Title of Book ==*/
.book-info-container .book-title{
    font-weight: 600;
}



/*===== Footer ======*/
#footer{
    font-size: 14px;
    background: #37517e;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

 .copyright {
    float: left;
}

 .credits {
    float: right;
    font-size: 13px;
}

 .credits a {
    transition: 0.3s;
}

@media (max-width: 768px) {
    .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .copyright,
     .credits {
        text-align: center;
        float: none;
    }

     .credits {
        padding-top: 4px;
    }
}






