
/*--------------- Navbar - Logged out ---------------*/
#loggedOutNavbar{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    z-index: 200;
    align-items: center;
    padding: 20px 0;
    .container{
        /*Bookworm Brand*/
        .navbar-brand {
            color: #37517e;
            transition: transform 0.8s ease-in-out, color 1.4s ease-in-out, font-weight 1s ease-in-out;
            &:hover{
                transform: scale(1.08);
                color: #13aa52;
                font-weight: 600;
            }
        }
        #navbarNavAltMarkup{
            .navbar-nav{
                /*About Bookworm Button*/
                .nav-about-bookworm{
                    box-shadow: inset 0 0 0 0 #54b3d6;
                    color: #1e1e1e;
                    transition: all.3s ease-in-out;
                    /*Hover*/
                    &:hover{
                        font-weight: 600;
                        box-shadow: inset 200px 0 0 0 #54b3d6;
                        color: white;
                        padding-left:12px;
                        padding-right: 12px;
                        width: fit-content;
                    }
                }
            }
        }
    }
}







/*--------------- Footer ---------------*/
#footer{
    font-size: 14px;
    background: #37517e;
    .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        .copyright {
            float: left;
        }
        .credits {
            float: right;
            font-size: 13px;
            & a {
                transition: 0.3s;
            }

        }

    }
}




@media (max-width: 768px) {
    /*Footer*/
    #footer{
        .footer-bottom {
            padding-top: 20px;
            padding-bottom: 20px;
            .copyright {
                text-align: center;
                float: none;
            }
            .credits {
                text-align: center;
                float: none;
                padding-top: 4px;
                & a {
                    transition: 0.3s;
                }
            }
        }
    }

}
