main section .single-book-cover-googlePlay {
    position: fixed;
}
    #single-book-cover{
    height: 520px;
    width: auto;
    border-radius: 20px;
}
.single-book-information-container{
    line-height: normal;
}
 #single-book-title{
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
     padding-top: 24px;
}
 .single-book-author{
     font-size: 22px;
     line-height: 0;
     padding: 05px 0;
 }
 .single-book-description{
     line-height:  24px;
 }
 .single-book-genre{
     background: #47b2e4;
     border-radius: 50px;
     width: fit-content;
     padding: 5px 10px;
     color:#fff;
     font-weight: 500;
     font-size: 16px;
     text-transform: capitalize;
     letter-spacing: 1px;
 }

 /*===== Star Ratings ====*/
.single-book-rating{
    height: 35px;
    width: auto;
}

.single-book-page-count,.single-book-page-date,.single-book-page-ISBN{
    font-size: 14px;
    line-height: 0;
}


/*====== Screen smaller then 991px ======*/
@media (max-width: 991px){

    /*BOOK Image Cover*/
    #single-book-cover{
        width: 40vw;
        height: auto;
        margin: 0 auto;
    }
    main section a{
        width: 40vw;
        margin: 0 auto;
    }
    .single-book-genre{
        font-size: 12px;
    }
}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
    main section .single-book-cover-googlePlay {
     position: relative;
    }
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){

}





/*====== Book Container ======*/
.single-book-genre-container{
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /*padding: 25px 15px;*/
    margin: 60px;
    background: #fff;
}
/*===== Cover Pages =====*/
.single-book-genre-container section .cover-page{
    height: 320px;
    width: auto;
    border-radius: 25px 25px 0 0;
    padding:0;
    margin: 0;
}
/*== Book info Container ==*/
.single-book-genre-info-container{
    padding: 12px 0 0 24px   ;
}
/*== Title of Book ==*/
.single-book-genre-info-container .book-title{
    font-weight: 600;

}


/*== User Review Container ==*/
.review-container{
    background-color: rgba(32, 157, 216, 0.15);
    display: flex;
    padding: 10px;
    border-radius: 15px;
    /*width: 40vw;*/
    /*min-width: 620px;*/
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.review-container section:first-child{
    padding-top: 12px;
    text-transform: capitalize;
    text-align: center;
}
/*== User Review Profile Image ==*/
.review-user-profile-img{
    height: 120px;
    width: 120px;
    border-radius: 80px;
}
.review-container section:nth-child(2){
    padding: 12px 12px 0 12px;
    margin: 0 auto;
}
.review-container section:nth-child(2) h5{
    font-weight: 700;
}
.review-container section:nth-child(2) span .review-book-rating{
    height: 25px;
    width: auto;
}
.review-container section:nth-child(2) p{
   margin-top: 12px;
    letter-spacing: normal;
    font-weight: 300;
}





/*====== Screen smaller then 991px ======*/
@media (max-width: 991px){
    .review-container section:first-child{
        text-align: left;
    }
    /*== User Review Profile Image ==*/
    .review-user-profile-img{
        height: 100px;
        width: 100px;
        border-radius: 80px;
    }

}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
    .review-container section:first-child{
        text-align: center;
    }
    /*== User Review Profile Image ==*/
    .review-user-profile-img{
        height: 120px;
        width: 120px;
    }
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){

}








