/*======= Left Side Container =======*/
#left-side-user-info-container{
    background: #37517e;
    height: 100vh;
    color: #fff;
    position: relative;
}
/*== Setting Container ==*/
#left-side-user-info-container .setting-container{
    position: absolute;
    top: 15px;
    right: 15px;
}
/*== Setting Button ==*/
#left-side-user-info-container .setting-container img{
    width: 60px;
    height: auto;
    background-color:#fff;
    border-radius: 5px;
    transition: all .8s ease-in-out;
}

/*=== Profile Picture Container ===*/
#left-side-user-info-container .user-profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 63px 0 24px 0;
}
/*=== Profile Picture ===*/
#left-side-user-info-container  .user-profile-picture{
    width: 240px;
    height: 340px;
    object-fit: cover;
    border-radius: 25px;
}
/*=== Username & Bio Container ===*/
#left-side-user-info-container .user-details-container{
    text-align: center;
}
/*=== Add Friend Button ===*/
#left-side-user-info-container .user-profile-picture-container .button-17 {
    background-color: #A2BADCFF;
    border: 1px solid #A2BADCFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #1e1e1e;
    cursor: pointer;
    width: 80%;
    height: 50px;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 10px 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    margin: 24px 0 0 0;
}
/*== Add friend Button Hover ===*/
#left-side-user-info-container .user-profile-picture-container .button-17:hover {
    background-color: rgba(100, 149, 237, 0.49);
    border: 1px solid rgba(100, 149, 237, 0.49);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}



/*=== User's Username ===*/
#left-side-user-info-container .user-details-container .user-username{
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
}
/*=== User's Bio ===*/
#left-side-user-info-container .user-details-container .user-bio{
    margin: 0 10px;
}
/*=== Favorite Genre Title ===*/
#left-side-user-info-container .user-details-container .fav-genre-title{
    font-size: 16px;
}

/*=== User's Favorite Genre Container ===*/
#left-side-user-info-container .user-details-container .user-fav-genre-container{
    padding-bottom: 12px;
    margin: 0;
}
/*=== User's Favorite Genre ===*/
#left-side-user-info-container .user-details-container .user-fav-genre-container span{
    font-size: 14px;
    background-color: white;
    padding: 5px 8px;
    margin: 4px;
    border-radius: 12px;
    color: #1e1e1e;
}

/*===== Settings Form Container =====*/
#setting-form-container{
    margin-top: 42px;
 }
/*=== Settings Form Container ===*/
#setting-form-container form {
    width: 80%;
    margin:0 auto;
}
/*=== Settings Form Title ===*/
#setting-form-container form h3 {
    text-align: center;
    text-decoration: underline;
}

/*====== Screen smaller then 991px ======*/
@media (max-width: 991px){
    /*== Setting Button ==*/
    #left-side-user-info-container .setting-container img{
        width: 35px;
        height: auto;
        border-radius: 8px;
    }
    /*=== Profile Picture ===*/
    #left-side-user-info-container .user-profile-picture{
        width: 220px;
        height: 280px;
        object-fit: cover;
        border-radius: 25px;
    }
    /*=== User's Username ===*/
    #left-side-user-info-container .user-details-container .user-username{
        font-size: 24px;
    }

    /*== Setting Container ==*/
    #left-side-user-info-container .setting-container{
        position: absolute;
        top: 15px;
        right: 15px;
    }

    /*=== User's Favorite Genre ===*/
    #left-side-user-info-container .user-details-container .user-fav-genre-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
    /*== Setting Button ==*/
    #left-side-user-info-container .setting-container img{
        width: 40px;
        height: auto;
        background-color:#fff;
        border-radius: 8px;
    }
    /*=== Profile Picture ===*/
    #left-side-user-info-container .user-profile-picture{
        width: 80%;
        height: auto;
    }
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){
    /*=== Left Side Container ===*/
    #left-side-user-info-container{
        height: auto;
        /*display: flex;*/
        padding: 24px;
    }
    /*=== Profile Picture Container ===*/
    #left-side-user-info-container .user-profile-picture-container {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    /*=== Profile Picture ===*/
    #left-side-user-info-container .user-profile-picture{
        width: 80%;
        height: auto;
    }
    /*=== Username & Bio Container ===*/
    #left-side-user-info-container .user-details-container{
        text-align: left;
        padding-top: 24px;
        padding-left: 24px;
    }
    /*=== User's Bio ===*/
    #left-side-user-info-container .user-details-container .user-bio{
        margin: 0;
    }
}



/*=========== Right Side Container ===========*/
#right-side-user-reviews-container{
    background: rgba(154, 182, 222, 0.27);
    padding-top: 42px;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#WholeFavoriteBookContainer{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
}
/*-- Each book in the loop of fav book container --*/
#WholeFavoriteBookContainer .favorite-book-container {
    background: #fff;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 25px;
    margin: 12px 12px 42px 12px;
    transition: transform 0.8s, box-shadow 1s;
}
/*-- Each book in the loop : HOVER --*/
#WholeFavoriteBookContainer .favorite-book-container:hover {
    transform: scale(0.98);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/*-- Favorite Books - Book Title and Author Anchors --*/
#WholeFavoriteBookContainer .favorite-book-container a{
    text-decoration: none;
    color: #1e1e1e;
}
/*-- Favorite Books - Book Cover--*/
#WholeFavoriteBookContainer .favorite-book-container a .favorite-book-cover{
    height: auto;
    width: 200px;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
/*-- Favorite Books - Paragraph--*/
#WholeFavoriteBookContainer .favorite-book-container a p{
    line-height: normal;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    padding: 10px 13px;
}
/*-- Favorite Books - Book Title-*/
#WholeFavoriteBookContainer .favorite-book-container a p .book-title {
    font-weight: 600;
}

/*-- Whole User Reviews container --*/
#WholeUserReviewsContainer{
    margin:24px 0;
}
/*-- User Review of the whole container --*/
#WholeUserReviewsContainer #UserReviewContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}
/*-- User Review Container --*/
#WholeUserReviewsContainer #UserReviewContainer .user-review-container{
    background-color: #fff;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: transform 0.8s, box-shadow 1s;
}
#WholeUserReviewsContainer #UserReviewContainer .user-review-container:hover{
    transform: scale(0.98);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/*-- review Book Cover --*/
.user-review-book-cover{
    width: 160px;
    height: 100%;
    border-radius: 10px 0 0  10px;
}

/*-- User Review 2nd Section container --*/
#WholeUserReviewsContainer #UserReviewContainer .user-review-container section:nth-child(2){
   padding: 12px 24px;
}

/*-- Review User Title --*/
#UserReviewContainer .user-review-container section:nth-child(2) .review-user-title{
    font-weight: 600;
    font-size: 18px;
}

/*-- Review Edit Button --*/
#UserReviewContainer .user-review-container section:nth-child(2) .user-review-edit-button{
    height: 30px;
    width: auto;
}

/*-- Review Book Rating --*/
#UserReviewContainer .user-review-container section:nth-child(2) span .user-review-book-rating{
    height: 20px;
    width: auto;
    margin-bottom: 12px;
}

#UserReviewContainer .user-review-container aside{
    width: 100%;
    padding: 12px;
}

 .submitButton{
    margin-top: 12px;
}


.edit-review-cancel-button{
   margin-top: 12px;
}


/*!*====== Screen smaller then 991px ======*!*/
/*@media (max-width: 991px){*/

/*}*/

/*!*=== Screen smaller then 768px ===*!*/
/*@media (max-width: 768px){*/

/*}*/

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){

    /*-- User Review of the whole container --*/
    #WholeUserReviewsContainer #UserReviewContainer{
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }

}