/*======= Left Side Container =======*/
#left-side-user-info-container{
    background: #209dd8;
    height: 100vh;
    color: #fff;
}
/*=== Profile Picture Container ===*/
#left-side-user-info-container section:first-child {
    display: flex;
    justify-content: center;
    padding: 63px 0 24px 0;
}
/*=== Profile Picture ===*/
#left-side-user-info-container .user-profile-picture{
    width: 240px;
    height: 340px;
    object-fit: cover;
    border-radius: 25px;
}
/*=== Username & Bio Container ===*/
#left-side-user-info-container .user-details-container{
    text-align: center;
}
/*=== User's Username ===*/
#left-side-user-info-container .user-details-container .user-username{
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
}
/*=== User's Bio ===*/
#left-side-user-info-container .user-details-container .user-bio{
    margin: 0 10px;
}

/*====== Screen smaller then 991px ======*/
@media (max-width: 991px){
    /*=== Profile Picture ===*/
    #left-side-user-info-container .user-profile-picture{
        width: 220px;
        height: 280px;
        object-fit: cover;
        border-radius: 25px;
    }
    /*=== User's Username ===*/
    #left-side-user-info-container .user-details-container .user-username{
        font-size: 24px;
    }
}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){
    /*=== Left Side Container ===*/
    #left-side-user-info-container{
        height: auto;
        display: flex;
        padding: 24px;
    }
    /*=== Profile Picture Container ===*/
    #left-side-user-info-container section:first-child {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    /*=== Profile Picture ===*/
    #left-side-user-info-container .user-profile-picture{
        width: 140px;
        height: 200px;
    }
    /*=== Username & Bio Container ===*/
    #left-side-user-info-container .user-details-container{
        text-align: left;
        padding-top: 24px;
        padding-left: 24px;
    }
    /*=== User's Bio ===*/
    #left-side-user-info-container .user-details-container .user-bio{
        margin: 0;
    }
}



/*========= Right Side Container =========*/
#right-side-user-reviews-container{
    background: rgba(154, 182, 222, 0.27);
    padding-top: 42px;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#right-side-user-reviews-container div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
}

/*=== User Review Container ===*/
#right-side-user-reviews-container .user-reviews-container{
    background-color: rgba(32, 157, 216, 0.15);
    margin: 24px 0;
    border-radius: 15px;
    padding: 10px;
}

/*=== Book Cover, Book Title, Author Container ===*/
#right-side-user-reviews-container .user-reviews-container section:first-child{
    line-height: normal;
}

/*=== Review Container ===*/
#right-side-user-reviews-container .user-reviews-container section:nth-child(2){
    position: relative;
}

/*=== Edit Delete Button ===*/
#right-side-user-reviews-container .user-reviews-container section:nth-child(2) aside{
    position: absolute;
    top: 5px;
    right: 5px;
}
/*=== Edit Delete Button ===*/
#right-side-user-reviews-container .user-reviews-container section:nth-child(2) aside img{
    width: 20px;
    height: auto;
}

/*=== Book Cover ===*/
#right-side-user-reviews-container .user-reviews-container .user-profile-book-cover{
    height: auto;
    width: 80px;
    border-radius: 12px;
    margin-bottom: 12px;
}

/*=== Book Title ===*/
#right-side-user-reviews-container .user-reviews-container .user-review-book-title{
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 14px
}

/*== Review Title ==*/
.user-review-title{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

/*== Book Rating ==*/
.user-review-book-rating{
    height: 20px;
    width: auto;
    padding: 0 0 0 0;
    margin: 0 0 12px 0;
}


/*====== Screen smaller then 991px ======*/
@media (max-width: 991px){
    /*=== Section Title - Review ===*/
    #right-side-user-reviews-container .section-title{
       padding: 0;
        margin: 0;
    }
}

/*=== Screen smaller then 768px ===*/
@media (max-width: 768px){
}

/*=== Screen smaller then 575px ===*/
@media (max-width: 575px){
}