<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Log in')" ></head>
<body>


<!===== Navbar =====>
<nav th:replace="partials/navbar.html :: Navbar"></nav>



<!===== Main Login Section =====>
<main id="login-section">
    <!==== Container ====>
    <div class="container">
        <!==== Login Card ====>
        <div class="col col-md-12 col-lg-10 card">
            <!==== Separates sides ====>
            <div class="row g-0">
                <!==== IMG Container ====>
                <header class="col-md-6 col-lg-5 d-none d-md-block">
                    <!==== Image ====>
                    <img src="/img/couch.jpg" alt="Login Books" />
                </header>
                <!==== Context Container ====>
                <section class="col-md-6 col-lg-7 d-flex align-items-center">
                    <!==== Right Side of Card ====>
                    <div class="card-body p-4 p-lg-5">
                        <!==== Form ====>
                        <form class="text-black">
                            <!== icon and logo ===>
                            <section class="d-flex align-items-center mb-3 pb-1">
                                <img th:src="@{img/bookworm.png}" th:height="*{120}" alt="logo" class="me-3"/>
                                <h1 class="h1 fw-bold mb-0">Bookworm</h1>
                            </section>
                            <!==== Form header ====>
                            <h5 class="fw-normal mb-5 pb-3 letter-spacing-1">Sign in to your account</h5>
                            <!==== User Email ====>
                            <section class="form-outline mb-2">
                                <input type="email" id="userEmail" class="form-control" />
                                <label class="form-label" for="userEmail">Email Address</label>
                            </section>
                            <!==== User Password ====>
                            <section class="form-outline mb-2">
                                <input type="password" id="userPassword" class="form-control" />
                                <label class="form-label" for="userPassword">Password</label>
                            </section>
                            <!==== Form Container - Submit Button ====>
                            <div class="pt-1 mb-2">
                                <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                            </div>
                            <!==== Forgot Password ====>
                            <a class="small text-muted" th:href="@{#}">Forgot password?</a>
                            <!==== Register Here ====>
                            <p class="mb-5 pb-lg-2" style="color: #393f81">
                                Don't have an account?
                                <a th:href="@{/Sign-up}" style="color:#393f81;">
                                    Register here
                                </a>
                            </p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>






<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
</body>
</html>
