<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Log in')" ></head>
<body>


<!===== Navbar =====>
<nav th:replace="partials/navbar.html :: Navbar"></nav>



<!===== Main Login Section =====>
<main id="login-section">
    <!==== Container ====>
    <div class="container whole-container">
        <!==== Login Card ====>
        <div class="col col-md-12 col-lg-10 card">
            <!==== Separates sides ====>
            <div class="row g-0">
                <!==== IMG Container ====>
                <header class="col-md-6 col-lg-5 d-none d-md-block">
                    <!==== Image ====>
                    <img src="/img/couch.jpg" alt="Login Books" id="login-img" />
                </header>
                <!==== Context Container ====>
                <section class="col-md-6 col-lg-7 d-flex align-items-center">
                    <!==== Right Side of Card ====>
                    <div class="card-body p-4 p-lg-5">
                        <!==== Form ====>
                        <form class="text-black" autocomplete="off">
                            <!== icon and logo ===>
                            <section class="d-flex align-items-center mb-3 pb-1">
                                <img th:src="@{img/bookworm.png}" th:height="*{120}" alt="logo" class="me-3"/>
                                <h3 class=" fw-bold mb-0">Sign in to your account</h3>
                            </section>
                            <!==== User Email ====>
                            <section class="form-outline mb-2">
                                <input type="text" id="username" class="form-control" required/>
                                <label class="form-label" for="username">Username:</label>
                            </section>
                            <!==== User Password ====>
                            <section class="form-outline mb-2">
                                <input type="password" id="userPassword" class="form-control" required/>
                                <aside class="d-flex">
                                    <label class="form-label" for="userPassword">Password</label>
                                    <!==== Forgot Password ====>
                                    <a class="small text-muted ms-auto" th:href="@{#}">Forgot password?</a>
                                </aside>
                            </section>
                            <!==== Form Container - Submit Button ====>
                            <div class="pt-1 mb-2">
                                <button type="submit" id="login-form-submit-btn" class="btn btn-primary mt-4 mb-2">Submit</button>
                            </div>
                            <!==== Register Here ====>
                            <p class=" text-center mt-5" style="color: #393f81">
                                Don't have an account?
                                <a th:href="@{/sign-up}" style="color:#393f81;">
                                    Register here
                                </a>
                            </p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>






<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>
</body>
</html>
