<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Sign up')" ></head>
<body>


<!---------- Navbar ---------->
<nav th:replace="partials/navbar.html :: Navbar"></nav>


<main id="mainRegisterPage">
    <!---------- Registration Form ---------->
    <form id="registerForm" th:action="@{/sign-up}" th:object="${user}" enctype="multipart/form-data" method="post" autocomplete="off">
        <!-- Error Message Container  -->
        <div class="alert warning" th:if="${not #lists.isEmpty(errorMessages)}">
            <span class="close-btn">&times;</span><br>
            <h3>Warning!</h3>
            <p th:each="error: ${errorMessages}" th:text="${error}"></p>
        </div>
        <!-- Title -->
        <h3 id="formHeader">Create an account</h3>
        <hr />
        <!-- First and Last Name --->
        <div class="row g-1 mb-3">
            <div class="col-md-6">
                <label for="first_name" class="form-label">First Name:</label>
                <input th:field="*{first_name}" type="text" class="form-control" id="first_name">
            </div>
            <div class="col-md-6">
                <label for="last_name" class="form-label">Last Name:</label>
                <input th:field="*{last_name}" type="text" class="form-control" id="last_name">
            </div>
        </div>
        <!-- Username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input th:field="*{username}" type="text" class="form-control" id="username">
        </div>
        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email Address:</label>
            <input th:field="*{email}"  type="email" class="form-control" id="email">
        </div>
        <!-- Password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" aria-describedby="passwordHelp" maxlength="20" minlength="8">
            <div id="passwordHelp" class="form-text">
                Your password must be
                <span id="length-password">8-20 characters long</span>,
                <span id="upper-lower-password">2 Uppercase & 2 Lowercase</span>,
                <span id="min-numbers-password">2 Numbers</span>,
                <span id="min-special-password">2 Special Characters</span>
            </div>
        </div>
        <!-- Verify Password Container -->
        <div class="mb-3">
            <label for="password-verify" class="form-label" id="verify-password-title">Verify Password:</label>
            <input type="password" class="form-control" disabled id="password-verify" placeholder="password">
        </div>
        <!-- Profile Image Upload -->
        <div class="mb-3">
            <label for="formFile" class="form-label">Profile Image</label>
            <input class="form-control" type="file" id="formFile" th:field="*{profilePictureFile}" name="profilePictureFile">
        </div>
        <!-- Submit Button -->
        <button type="submit" value="Submit" id="register-submit-btn" class="btn disabled">Submit</button>
    </form>
</main>

<!---------- Footer ---------->
<footer th:replace="partials/footer.html :: Footer"></footer>
<!---------- JS - PP ---------->
<script th:src="@{js/passwordProtector.js}" ></script>
</body>
</html>