<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="partials/head.html :: head ('Reset Password')" ></head>
<body>

<!===== Navbar =====>
<nav th:replace="partials/navbar.html :: Navbar"></nav>


<main id="forgotPasswordMain">
    <form id="forgotPasswordForm" th:action="@{/reset}" method="post">
        <!-- Hidden Token Id -->
        <input type="hidden" name="token" th:value="${token}" id="token" />
        <!-- Title -->
        <h1> Forgot Password</h1>
        <div>
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-success">[[${message}]]</p>
            </div>

        </div>
        <!-- New Password Input -->
        <div class="my-3" th:if="${token != null}">
            <label for="password" class="form-label">New Password:</label>
            <input name="newPasswordInput" type="password" class="form-control" id="password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">
                Your password must be
                <span id="length-password">8-20 characters long</span>,
                <span id="upper-lower-password">2 Uppercase & 2 Lowercase</span>,
                <span id="min-numbers-password">2 Numbers</span>,
                <span id="min-special-password">2 Special Characters</span>
            </div>
        </div>
        <!-- Verify Password Input -->
        <div class="mb-3">
            <label for="password-verify" id="verify-password-title">Verify password:</label>
            <input name="verifyPasswordInput" type="password" class="form-control" id="password-verify">
        </div>
        <button type="submit" value="Submit" id="register-form-submit-btn" class="btn disabled">Submit</button>
    </form>
</main>




<!=== Footer ===>
<footer th:replace="partials/footer.html :: Footer"></footer>


<script th:src="@{js/passwordProtector.js}" ></script>


</body>
</html>