<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!=== Head in Thymeleaf - Fragments ===>
<head th:replace="~{partials/head.html :: head('Welcome to journey')}" ></head>
<body>


<!----- Navbar ----->
<nav th:replace="~{partials/navbar.html :: Navbar}"></nav>

<!-- Hero Introduction -->
<header id="hero-aboutPage">
    <section>
      <h1>About Bookworm</h1>
      <h2>Learn what all you can do with Bookworm</h2>
    </section>
</header>

<main>
  <!-- About Bookworm Section -->
  <div id="wholeAboutBookworm">
    <section class="container">
      <!-- Title Section - About Bookworm -->
      <div id="title-aboutBookworm">
        <h2>About Bookworm</h2>
      </div>
      <!-- Content -->
      <section id="content-aboutBookworm">
        <p>
          Nunc lectus diam, sagittis sit amet nibh eu, vestibulum varius velit. Suspendisse elementum ligula et metus accumsan dictum. Mauris libero sem, fringilla et mattis id, faucibus quis est. Nunc at malesuada neque. Donec sit amet ligula dictum, auctor dolor ut, accumsan velit. Pellentesque quis mauris a ex dapibus blandit. Curabitur a orci ultrices orci sodales congue eu sit amet diam. Phasellus quis diam gravida, condimentum tellus eget, gravida elit. Curabitur lorem massa, rutrum nec ultricies sed, scelerisque eget risus. Vivamus ornare, orci non interdum porttitor, mauris nisl pulvinar nisi, eu ornare nibh turpis id ligula. Vestibulum eget nulla arcu. Integer non felis risus. Pellentesque eget lacus sed ligula maximus luctus eget id nibh. Etiam vitae enim non ante commodo feugiat. Duis nisi eros, vehicula sed venenatis quis, auctor nec neque.
        </p>
      </section>
    </section>
  </div>


  <div id="whole-languages-container">
    <div class="container">
      <!-- Languages used -->
      <div id="languages-logo-container">
        <!--Boostrap-->
        <div class="">
          <img th:src="@{img/languages/bootstrap.png}" class="img-fluid" title="Bootstrap" alt="Bootstrap">
        </div>
        <!--Spring Boot-->
        <div class="">
          <img th:src="@{img/languages/spring-boot.png}" class="img-fluid" title="Spring Boot" alt="Spring Boot">
        </div>
        <!--JavaScript-->
        <div class="">
          <img th:src="@{img/languages/javascript.png}" class="img-fluid" title="JavaScript" alt="JavaScript">
        </div>
        <!--Thymeleaf-->
        <div class="">
          <img th:src="@{img/languages/thymleaf.png}" class="img-fluid" title="Thymeleaf" alt="Thymeleaf">
        </div>
        <!--MySQL-->
        <div class="">
          <img th:src="@{img/languages/mysql.png}" class="img-fluid" title="MySQL" alt="MySQL">
        </div>
        <!--Java-->
        <div class="">
          <img th:src="@{img/languages/java.png}" class="img-fluid" title="Java" alt="Java">
        </div>
      </div>
    </div>
  </div>





</main>










<!----- Footer ----->
<footer th:replace="~{partials/footer.html :: Footer}"></footer>

</body>
</html>